<div class="container-fluid">
  <div class="row my-auto mx-auto">
    <div class="col-lg-2"></div>
    <div class="card col-lg-8 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body align-center">      
          <h1 class="text-center jumbotron  card-title mx-auto">{{service.quiz[service.currentQuestionID].question}}</h1>
        <div class="row float-center">
           <app-answers></app-answers>
          </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>